.selectedFilter {
	background-color: red;
}

.randomizer {
	margin-left: 16.5%;
	margin-right: 1%;
}




/* ~~~~~~~~~ Workouts div ~~~~~~~~~ */
.workouts {
	float: left;
	padding: 25px 0 10px 0;
	width: 40%;
}

.notAdded {
	background-color: #b3d9ff;
}

.isAdded {
	background-color: #adb2ba;
	padding-bottom: 3px;
}



/* ~~~~~~~~~ Selected Workouts div ~~~~~~~~~ */
.selectedWorkouts {
	float: right;
	margin-right: 5%;
	padding: 25px 0 0 0;
	width: 40%;
}

.selectedWorkouts div {
	padding-bottom: 3px;
}


