<div class="main">
	
	<div>
		<h1>{{title}}</h1>
		<button [class.selectedFilter]="typeStatic === false" (click)="filterTypes('static')">Static Off</button>
		<button [class.selectedFilter]="typeDynamic === false" (click)="filterTypes('dynamic')">Dynamic Off</button>
		<button [class.selectedFilter]="locationGround === false" (click)="filterLocations('ground')">Ground Off</button>
		<button [class.selectedFilter]="locationHanging === false" (click)="filterLocations('hanging')">Hanging Off</button>
		<button class="randomizer" (click)="randomizeWorkouts()">Randomize</button>
		<button class="clear" (click)="clearSelectedWorkouts()">Clear Selected Workouts</button>
	</div>

	  <div class="workouts">
	  		<div *ngFor="let workout of workouts">
	  			<button *ngIf="workout.typeShow && workout.locationShow" (click)="addWorkout(workout)" [class.isAdded]="workout.selected === true" [class.notAdded]="workout.selected === false">{{workout.name}}</button>
	  		</div>
	  	<p></p>
	<button (click)='console()'>console</button>
	</div>


	<div class="selectedWorkouts">
		<div *ngFor="let selectedWorkout of selectedWorkouts">
			<button (click)="removeWorkout(selectedWorkout)">{{selectedWorkout.name}}</button>
		</div>
	</div>

</div>